/* home.css */
section {
  width: 100%;
  min-height: 80vh;
  scroll-margin-top: 80px;
}

.home {
  background:  radial-gradient(1200px 1200px at 10% 0%, rgba(20, 25, 40, 0.12), transparent 60%),
    radial-gradient(1200px 1200px at 90% 20%, rgba(30, 35, 60, 0.10), transparent 60%),
    #111318; 
  font-family: poppins, sans-serif;
  color: #e0e7ff;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 2vw;
}

.main-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.main-info h1 {
  position: relative;
  font-size: clamp(6.5rem, 6vw, 13rem);
  transform: scale(0.98);
  transition: all 1s ease;
  display: inline-block;
  color: #d0dbff;
}

.main-info h1::before {
  content: '';
  position: absolute;
  bottom: calc(-1vw - 0.8rem);
  left: 0;
  width: 0%;
  height: clamp(5px, 12px, 1vw);
  background-color: #d0dbff;
  transition: all 1s;
}

.main-info h1:hover {
  text-shadow:
    4px 4px 0 #003366,
    8px 8px 10px rgba(0, 0, 0, 0.7),
    12px 12px 20px rgba(0, 0, 0, 0.5);
  transform: scale(1);
}

.main-info h1:hover::before {
  width: 100%;
  box-shadow:
    4px 4px 0 #003366,
    8px 8px 10px rgba(0, 0, 0, 0.7),
    12px 12px 20px rgba(0, 0, 0, 0.5);
}

.main-info p {
  font-size: clamp(1.1rem, 2.5vw, 2rem);
  text-align: start;
  padding: 20px 10px;
  width: min(90vw, 1100px);
  line-height: 1.6;
  color: #a0a8c5;
}

#intro {
  margin-top: 45px;
}

.tutor-wrapper {
  width: clamp(200px, 70%, 600px);
  align-self: flex-end;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 120px;
}

.tutor-wrapper svg {
  width: 100%;  
  min-width: 200px;
  height: auto;     
  object-fit: cover;
  display: block;   
}

