/* home.css */
section {
  width: 100%;
  min-height: 80vh;
  scroll-margin-top: 80px;
}

.home {
  position: relative;
  min-height: unset;
  font-family: poppins, sans-serif;
  color: #e0e7ff;
  display: grid;
  grid-template-columns: 1.4fr 1.2fr 1.4fr;
  grid-template-areas: 'main-info button icon';
  padding: 2vw;
}

.home::before {
  content: '';
  position: absolute;
  inset: 0;
background: #111318b1;
  z-index: -1;
  }

.home video {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1.5rem;
  align-items: start;
  justify-content: center;
  grid-area: main-info;
}

.main-info h1 {
  position: relative;
  font-size: clamp(6.5rem, 6vw, 13rem);
  transform: scale(0.98);
  transition: transform 0.7s ease, text-shadow 0.7s ease;
  display: inline-block;
  color: #d0dbff;
  animation: fade-in 0.5s;
}

.main-info h1::before {
  content: '';
  position: absolute;
  bottom: -0.2em;
  left: 0;
  width: 0%;
  height: 0.08em;
  background-color: #d0dbff;
  transition: width 0.7s ease, box-shadow 0.7s ease;
}

.main-info h1:hover {
  text-shadow:
    4px 4px 0 #003366,
    8px 8px 10px rgba(0, 0, 0, 0.7),
    12px 12px 20px rgba(0, 0, 0, 0.5);
  transform: scale(1);
}

.main-info h1:hover::before {
  width: 100%;
  box-shadow:
    4px 4px 0 #003366,
    8px 8px 10px rgba(0, 0, 0, 0.7),
    12px 12px 20px rgba(0, 0, 0, 0.5);
}

.main-info p {
  justify-self: start;
  font-size: clamp(1.1rem, 2.2vw, 2rem);
  padding: 20px 10px;
  width: min(70vw, 950px);
  line-height: 1.6;
  animation: fade-in 0.5s;
}

.pop a {
  position: relative;
  font-family: system-ui,  sans-serif;
  display: inline-flex;
  font-weight: bold;

  background-image: 
    linear-gradient(currentColor, currentColor), 
    linear-gradient(currentColor, currentColor);
  background-size: 0% 2px, 0% 2px;
  background-repeat: no-repeat;
  background-position: 0 100%, 100% 0;
  
  color: #abacff;
  backdrop-filter: blur(8px);
  transition: background-size 0.4s ease, color 0.4s ease;
}

.pop:hover a {
  background-size: 100% 2px, 100% 2px;
}

.tutor-wrapper {
  width: clamp(200px, 70%, 400px);
  padding-right: 2vw;
  margin: 0 auto;
  grid-area: icon;
  align-self: center;
  justify-self: center;
}

.tutor-wrapper svg {
  width: 100%;  
  min-width: 200px;
  height: auto;     
  display: block;   
}

