/* pricing.css */
.pricing {
  position: relative;
  background: linear-gradient(299deg, #e5eaee 0%, #e8f4fa 40%, #e9e9f7 100%);
  padding: 1vw 2vw;
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  color: #2e394b;
  min-height: unset;
  height: fit-content;
}


.pricing-heading {
  justify-content: center;
  width: 100%;
  padding: 2vw;
  text-align: center;
}

.pricing h1 {
  user-select: none;
  -webkit-user-select: none;
  font-family: sans-serif;
  font-weight: 400;
  font-size: clamp(4rem, 6vw, 7rem);
  display: inline-block;
  max-width: max-content;
  padding: 1rem;
  border-radius: 10px;
  place-self: center;
  animation: fade-in 0.5s;
}

.pricing h1 .highlight {
  color: #826fff;
}